.main {
    background-color: white;
}

.sectionContainer {
    /* outline-style: dashed;
    outline-color: green; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 40%;
    /* outline-style: dashed;
    outline-color: red; */
}

.center {
    border-left: 6px solid rgb(33,37,41);
    height: 390px;
    margin-inline: auto;
}

.right {
    width: 50%;
    /* outline-style: dashed;
    outline-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorfulForm {
    /* max-width: 400px; */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .formLabel {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .formInput {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
  }
  
  textarea.formInput {
    height: 100px;
  }
  
  .formButton {

    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(33,37,41);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formButton:hover {
    background-color: #ff5f59;
  }
  
  .invalid {
    border: 2px solid red;
    border-radius: .5rem;
  }

  .error-text {
    color: #b40e0e;
  }
  

@media only screen and (max-width: 768px) {
    .sectionContainer {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .center {
    width: 100%;
    display: block;
    height: 1px;
    border-top: 6px solid rgb(33,37,41);
    margin: 1em 0;
    }

    .right {
        width: 100%;
    }
}