.main {
    padding-bottom: 1.2rem;
}

.header {
    margin: 0 0 5px 0;
    color: #545454;
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
    padding: 65px 0 0 0;
    text-align: center;
}

.paragraph {
    margin-bottom: 0;
    line-height: 26px;
    font-size: 16px;
    color: #8c9597;
    font-weight: 400;
    word-wrap: break-word;
    padding: 0 0 65px 0;
}

/* .button {
    background-color: rgb(33,37,41);
    color: white;
    border-radius: 0.7rem;
    padding: 0.4rem 0.8rem;
}

.button:hover {
    background-color: #8c9597;
    color: rgb(33,37,41);
} */

.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    background-color: rgb(33,37,41);
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: rgb(33,37,41);
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

