.header {
    margin: 0 0 5px 0;
    color: #545454;
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
    padding: 65px 0 0 0;
    text-align: center;
}

.paragraph {
    margin-bottom: 0;
    line-height: 26px;
    font-size: 16px;
    color: #8c9597;
    font-weight: 400;
    word-wrap: break-word;
    padding: 0 0 65px 0;
}