.main {
    display: flex;
    align-items: center;
    justify-content: space-between;


    /* outline-style: dotted;
    outline-color: red; */
}

.topFooter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* outline-style: dotted;
    outline-color: yellow; */
}

.socials {
    width: 350px;
    /* outline-style: dotted;
    outline-color: green; */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    
    
}

.socials h5 {
    font-size: 12px;
    text-align: center;
    
    /* outline-style: dotted;
    outline-color: pink; */
    
}


@media  screen and (max-width: 796px) {
    .media{
        font-size: 12px;
    }

    .topFooter {
        display: block;
    }

    .socials {
        width: 200px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        
    }

    .socialIcons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}