button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 10px;
    border: 1px solid #F2BED1;
    padding: 10px 20px;
  }
  
  button > svg {
    margin-left: 5px;
    transition: all 0.4s ease-in;
  }
  
  button:hover > svg {
    font-size: 1.2em;
    transform: translateX(6px);
  }
  
  button:hover {
    box-shadow: 10px 10px 40px #d1d1d1;
    transform: translateY(-5px);
  }